<div class="row center-xs">
    <div class="col-xs-12 col-md-12">
        <div class="box">
            <div class="slds-text-heading_large">About</div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="box">
          
        <div class="slds-text-heading_medium slds-p-top_small">Description</div>
        <p class="slds-p-around_small">Stock Watchers App is a full-stack project for freeCodeCamp.</p>
        
        <div class="slds-text-heading_medium slds-p-top_small">Frontend Techniques</div>
        <div class="slds-p-around_small">
          <div class="slds-pill slds-p-around_xx-small">
            <i class="fab fa-angular fa-2x angular-color slds-pill__icon_container"></i>
            <p class="slds-pill__label">Angular V5</p>
          </div>
          
          <div class="slds-pill slds-p-around_xx-small">
            <i class="far fa-caret-square-right fa-2x slds-pill__icon_container"></i>
            <p class="slds-pill__label">Ngx-Charts</p>
          </div>
          
          <div class="slds-pill slds-p-around_xx-small">
            <ngl-icon category="utility" icon="salesforce1" type="brand" svgClass="salesforce-color" nglPillImage></ngl-icon>
            <p class="slds-pill__label">ng-Lightning UI</p>
          </div>
          
          <div class="slds-pill slds-p-around_xx-small">
            <i class="fab fa-font-awesome fa-2x fontawesome-color slds-pill__icon_container"></i>
            <p class="slds-pill__label">Font Awesome 5</p>
          </div>
        </div>
        
        <div class="slds-text-heading_medium slds-p-top_small">Backend Techniques</div>
        <div class="slds-p-around_small">
          <div class="slds-pill slds-p-around_xx-small">
            <i class="fab fa-node-js fa-2x nodejs-color slds-pill__icon_container"></i>
            <p class="slds-pill__label">Node.Js</p>
          </div>
         
         <div class="slds-pill slds-p-around_xx-small">
            <i class="far fa-caret-square-right fa-2x slds-pill__icon_container"></i>
            <p class="slds-pill__label">Express</p>
          </div>
         
         <div class="slds-pill slds-p-around_xx-small">
            <img class="slds-pill__icon_container" src="assets/imgs/socket-io.svg">
            <p class="slds-pill__label">Socket.IO</p>
          </div>
          
          <div class="slds-pill slds-p-around_xx-small">
            <img class="slds-pill__icon_container" src="assets/imgs/mongodb.svg">
            <p class="slds-pill__label">MongoDB</p>
          </div>
        </div>
       
        <div class="slds-text-heading_medium slds-p-top_small">API</div>
        <div class="slds-p-around_small">
          <div class="slds-pill slds-p-around_xx-small">
            <img class="slds-pill__icon_container" src="assets/imgs/quandl.svg">
            <p class="slds-pill__label">Quandl API</p>
          </div>
        </div>
      </div>
    </div>
    
</div>
